// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFFFFF;

// Color Types
$subtle-gray: #626262;
$extra-thin-gray: #f5f5f5;
$table-gray: #f3f3f3;
$share-border: #d2d2d2;
$footer-title: #bdbdbd;
$footer-gray: #f5f5f5;

$niaga-primary: #028fee;
$niaga-accent: #007fde;

$icon-green: #40b349;
$emphasis: #4c4c4c;
