@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
}

.top-bar {
  .left-side {
    .icon {
      font-size: 35px;
      margin-top: -10px;
      display: inline-block;
      vertical-align: middle;
      // height: 47px;

      .fa-bookmark {
        position: relative;
        color: #0190ef;
      }

      .fa-tag {
        font-size: 14px;
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      margin-top: -10px;
    }
  }

  .right-side {
    color: $subtle-gray;
    span {
      div {
        vertical-align: middle;
      }
    }
  }
}

.navbar {
  padding: 0;

  .navbar-nav .nav-link {
    color: #626262;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .navbar-nav .nav-link:hover {
    color: #323232;
  }

  .navbar-brand {
    img {
      max-height: 75px;
    }
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

// Content Start
.top-banner {
  .text-emphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: $emphasis;
  }

  .text-subemphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: $emphasis;
    margin-bottom: 20px;
  }

  .text-checkbox {
    ul {
      li {
        margin-bottom: 10px;
        .fas {
          color: $icon-green;
          font-size: 22px;
          vertical-align: middle;
        }
        text {
          margin-left: 5px;
          font-size: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}

.php-modules {
  table {
    tr td {
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 15px;

      embed {
        max-height: 125px;
      }
    }
  }
}

.packages-header {
  text-align: center;

  .text-emphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: $emphasis;
  }

  .text-subemphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: $emphasis;
    margin-bottom: 20px;
  }
}

.packages-options {
  text-align: center;
  color: $emphasis;

  .packages {
    border: 1px solid $extra-thin-gray;
    border-radius: 2px;

    .name {
      font-size: 24px;
      font-weight: 700;
      color: $emphasis;
      border-bottom: 1px solid $extra-thin-gray;
      font-family: "Montserrat", sans-serif;
    }

    .price {
      border-bottom: 1px solid $extra-thin-gray;
      font-family: "Montserrat", sans-serif;

      .normal {
        font-size: 14px;
        padding-top: 12px;
        margin-bottom: -10px;
      }

      .discount {
        font-size: 50px;

        sup {
          font-size: 20px;
          top: -21px;
        }
      }
    }

    .user-count {
      border-bottom: 1px solid $extra-thin-gray;
      padding-top: 6px;
      padding-bottom: 6px;
      font-family: "Roboto", sans-serif;
    }

    .features {
      margin-top: 24px;

      ul li {
        margin-bottom: 7px;
      }

      .contain-star .fas {
        color: $niaga-primary;
      }
    }

    .order-button {
      margin-top: 35px;
      margin-bottom: 30px;
      transition: .2s;

      .btn-primary {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        border-radius: 40px;
        padding: 6px 25px;
        color: $subtle-gray;
        background: $white;
        border: 2px solid $subtle-gray;
      }

      .btn-primary:hover {
        background: $subtle-gray;
        color: $white;
      }
    }
  }

  .packages.best {
    border: 1px solid $niaga-primary;
    position: relative;

    img {
      position: absolute;
      height: 100px;
      top: -9px;
      left: -9px;
    }

    .name {
      color: $white;
      border-bottom: 1px solid $niaga-primary;
      background: $niaga-primary;
    }

    .price {
      border-bottom: 1px solid $niaga-primary;
      background: $niaga-primary;
      color: $white;
    }

    .user-count {
      border-bottom: 1px solid $niaga-primary;
      background: $niaga-accent;
      color: $white;
    }

    .btn-primary {
      color: $white;
      background: $niaga-primary;
      border: 0;
    }

    .btn-primary:hover {
      background: $niaga-accent;
      color: $white;
    }
  }
}

.promotion,
.services,
.laravel,
.modules,
.support {
  .text-emphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: $emphasis;
    text-align: center;
    margin-bottom: 25px;
  }
}

.promotion {
  table {
    width: 40%;
    margin: 0 15px;

    tr {
      text-align: center;

      td {
        padding: 0.5rem;
        border-left: 1px solid $table-gray;
        border-right: 1px solid $table-gray;
        border-top: 1px solid $table-gray;

        .fas {
          color: $icon-green;
          font-size: 20px;
        }
      }

      td:first-child {
        border-right: 0;
      }

      td:last-child {
        border-left: 0;
        border-bottom: 1px solid $table-gray;
      }
    }

    tr:nth-child(2n) {
      background: $table-gray;
    }
  }

  @media(max-width: 768px) {
    table {
      width: 100%;
      margin: 0;
      margin-top: -1px;

      tr {
        text-align: left;
      }
    }
  }
}

.services {
  embed {
    height: 65px;
    margin-bottom: 5px;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: $emphasis;
  }

  .caption {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 70px;
  }
}

.laravel {
  .text-subemphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: $emphasis;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 15px;
    color: $emphasis;

    .fas {
      color: $icon-green;
      font-size: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }

    text {
      font-size: 15px;
      vertical-align: middle;
    }
  }

  .order-button {
    margin-top: 10px;
    margin-bottom: 30px;

    .btn-primary {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      border-radius: 40px;
      padding: 10px 25px;
      color: $white;
      background: $niaga-primary;
      border: 0;
    }

    .btn-primary:hover {
      background: $niaga-accent;
      color: $white;
    }
  }
}

.modules {
  ul.list-unstyled {
    margin-bottom: 0;
  }

  ul li {
    margin-right: 0;
    margin-left: auto;
    color: $emphasis;
  }

  .order-button {
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;

    .btn-primary {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      border-radius: 40px;
      padding: 10px 25px;
      color: $subtle-gray;
      background: $white;
      border: 2px solid $subtle-gray;
    }

    .btn-primary:hover {
      background: $subtle-gray;
      color: $white;
    }
  }
}

.stable-lve {
  .text-emphasis {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    line-height: 50px;
    font-weight: 400;
    color: $emphasis;
    margin-bottom: 20px;
  }

  .text-subemphasis {
    font-size: 15px;
    font-weight: 400;
    color: $emphasis;
    margin-bottom: 20px;
  }

  .image img {
    width: 100%;
  }

  .order-button {
    margin-top: 10px;
    margin-bottom: 30px;

    .btn-primary {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      border-radius: 40px;
      padding: 10px 25px;
      color: $white;
      background: $niaga-primary;
      border: 0;
    }

    .btn-primary:hover {
      background: $niaga-accent;
      color: $white;
    }
  }
}

.share-bar {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  font-weight: 600;
  color: $emphasis;
  font-size: 14px;

  a {
    color: $emphasis;
    font-weight: 400;
    font-size: 12px;

    .icon-button {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      display: inline-block;
      vertical-align: middle;
      height: 35px;
      width: 35px;
    }

    .share-count {
      display: inline-block;
      vertical-align: middle;
      padding: 6px 15px;
      border: 1px solid $share-border;
      background: $white;
      border-radius: 5px;
      position: relative;
      margin-left: 4px;

      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent #cccccc transparent transparent;
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
      }

      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent #ffffff transparent transparent;
        position: absolute;
        top: 50%;
        left: -3px;
        transform: translateY(-50%);
      }
    }
  }

  a:hover {
    text-decoration: none;
  }
}

.support-bar {
  background-color: $niaga-primary;
  color: $white;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0;

  .text-emphasis {
    font-size: 25px;
  }

  .order-button {
    margin-top: 35px;
    margin-bottom: 30px;

    .btn-primary {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      border-radius: 40px;
      padding: 6px 20px;
      color: $white;
      background: $niaga-primary;
      border: 2px solid $white;
    }

    .btn-primary:hover {
      color: $subtle-gray;
      background: $white;
    }
  }
}
// Content End

// Footer Start

footer {
  background: #303030;

  .title {
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0 15px 0;
    color: $footer-title;
    display: block;
    min-height: 23px;
  }

  @media(max-width: 992px) {
    .title {
      margin: 25px 0 15px 0;
    }
  }

  .body {
    color: $footer-gray;
    font-size: 12px;

    a {
      color: $footer-gray;
    }

    li {
      line-height: 22px;
    }

    .newsletter-input {
      background: $white;
      padding: 6px 6px 6px 15px;
      border-radius: 40px;

      input,
      button {
        display: inline-block;
      }

      input {
        width: 55%;
        border: 0;
      }

      input:focus {
        outline: 0;
      }

      button {
        width: 45%;
        border-radius: 40px;
        padding: 10px;
        font-size: 12px;
        border: 0;
        background: $niaga-primary;
        color: $white;
      }

      button:hover {
        background: $niaga-accent;
        color: $white;
      }
    }

    .newsletter-caption,
    .payment-caption {
      font-weight: 300;
    }

    .payment-options {
      font-size: 50px;

      .fab {
        margin-right: -5px;
      }
    }

    .social-circle {
      border: 3px solid $footer-title;
      color: $footer-title;
      height: 50px;
      width: 50px;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
      transition: .2s;

      .fab {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .social-circle:hover {
      background: $footer-title;
      color: $subtle-gray;
    }
  }

  .disclaimer {
    color: $footer-gray;
  }
}

// Footer End


/*
 * Common CSS
 */

.space-between {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

@media(min-width: 992px) {
  .flex-lg-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .space-lg-between {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.separator {
  height: 5px;
  background-color: $extra-thin-gray;
  display: block;
  clear: both;
  width: 100px;
  margin: 30px auto;
}
